
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 16px;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 240px;
    text-align: center;
    background: rgb(147 197 253 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    margin: 16px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    background-color: #efefef;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
    background-color: rgb(147 197 253);
}


